dist
node_modules
coverage
src/fonts
*.tgz
.artifacts
playwright-report
test-results
storybook-static
.next
out
.vite
etc/api/*.api.md
*.png
*.jpg
*.jpeg
*.webp
*.woff
*.woff2
*.tsbuildinfo
tests/e2e/**/*.png
